---
import { Icon } from "astro-icon/components";
import AccordionLayout from "../layouts/AccordionLayout.astro";
import * as about from "../pages/about/about.md";
import Card from "./Card.astro";
import ContactCard from "./ContactCard.astro";
const works = await Astro.glob("../pages/works/*.md");
const projects = await Astro.glob("../pages/projects/*.md");
const studies = await Astro.glob("../pages/studies/*.md");
const certificates = await Astro.glob("../pages/certificates/*.md");
const blogs = await Astro.glob("../pages/blogs/*.md");
const contact = await Astro.glob("../pages/contact/*.md");
const PDF = "/cv-20240219.pdf";
const awards = await Astro.glob("../pages/awards/*.md");
const disclaimer = await Astro.glob("../pages/disclaimer/*.md");
---

<div class="join join-vertical gap-1">
  <AccordionLayout title={"Biografi"} icon={"carbon:identification"}>
    <article class="text-justify">
      <Fragment set:html={about.compiledContent()} />
    </article>
  </AccordionLayout>

  <AccordionLayout title={"Rekam Jejak"} icon={"carbon:construction"}>
    {
      works.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            tags={item.frontmatter.tags}
            url={item.frontmatter.url}
            url_name={item.frontmatter.org}
            location={item.frontmatter.location}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Pendidikan"} icon={"carbon:education"}>
    {
      studies.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            location={item.frontmatter.location}
            description={item.compiledContent()}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Harta Kekayaan"} icon={"carbon:finance"}>
    {
      projects.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            description={item.compiledContent()}
            url={item.frontmatter.url}
            url_name={"Sumber"}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Penghargaan"} icon={"carbon:certificate"}>
    {
      disclaimer.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            description={item.compiledContent()}
          />
        );
      })
    }
     {
      awards.map((item) => {
        return (
          <Card
            title={item.frontmatter.title}
            timeframe={item.frontmatter.date}
            location={item.frontmatter.location}
            description={item.compiledContent()}
          />
        );
      })
    }
  </AccordionLayout>

  <AccordionLayout title={"Contact"} icon={"carbon:location-person"}>
    <div class="flex flex-wrap content-around gap-4 justify-center">
      {
        contact.map((item) => {
          return (
            <ContactCard
              url={item.frontmatter.url}
              url_name={item.frontmatter.title}
              icon={item.frontmatter.icon}
            />
          );
        })
      }
    </div>
  </AccordionLayout>
</div>
